<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="ProjectRunConfigurationManager">
    <configuration default="false" name="App" type="Application" factoryName="Application">
      <option name="MAIN_CLASS_NAME" value="com.teamname.furniviz.app.App" />
      <module name="furniture-visualizer" />
      <method v="2">
        <option name="Make" enabled="true" />
      </method>
    </configuration>
  </component>
</project>

